node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
uploads
!uploads/.gitkeep
coverage
.nyc_output
*.md
docs
Postman_Collection
*.pdf
.eslintcache
*.tsbuildinfo
.vscode
.idea
Dockerfile
docker-compose.yml
.dockerignore
